/* buducocv-print.css - Arizona Edwardcs
#  Created: 2024-12-03 23:22-EST */

@media print {
  .cv-between-pages { display: none; }
  .show-hide { display: none !important; }
  .print-only { display: flex;}
  .cv-page {
      clear: both;
      page-break-before: always;
  }
  tr {
    page-break-inside: avoid;
  }

  @page {
    size: letter;

    @bottom-right {
      margin: 0.1in 0.5in 0.5in 0.1in;
      content: "Arizona Edwards - Page " counter(page) " of " counter(pages);
      font-size: 9pt;
      color: #333;
    }
  }
}
