body {
  background: white;
  background-color: #ffffff;
  align-content: center;
  align-self: center;
  font-size: 10pt;
  /*line-height: 1; */
  color: black;
  font-family: Tahoma,Helvetica,sans-serif;
  width: 6.5in;
  max-width: 6.5in;
  margin-top: 0.75in;
  margin-left: 0.75in;
  margin-right: 0.75in;
  margin-bottom: auto;
}

table
{
  border-collapse: separate;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
}

th
{
  background-color: #bfbfbf;
  align-content: center;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

td
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
  padding: 4px 4px 4px 4px;
}

h1 {
  width: 100%;
  text-align: center;
}

.cv-page {  width: 100%; }
.cv-between-sections { height: 0.25in; }

.cv-section-table /* applied to table */
{
  border-style: none;
  font-size: 9pt;
  line-height: 1;
}

.cv-section-table td
{
  border-style: none;
}

.cv-section-table td p
{
  margin: 0 0 0 0;
}

.cv-section-header /* applied to tr */
{
  background-color: #bfbfbf;
  align-content: center;
  font-style: "Negreta,bold";
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

.cv-column-headers td p /* cv-column-headers applied to tr */
{
  margin: 0 0 0 0;
  font-weight: bold;
  font-size: smaller;
  vertical-align: top;
}

/* ----- Top/Bio Section table ----- */
table.cv-top
{
  align-content: center;
  text-align: center;
  font-size: 12pt;
  border-style: none; 
  border-collapse: collapse; 
}
.cv-top td { border-style: none; padding: 1px 1px 1px 1px; }
.cv-top td p { margin: 0 0 0 0; }
.cv-top-email /*applied to span*/
{
  font-size:8pt;
  color: blue;
  width: auto;
  align-self: center;
}

/* ----- Competency Section table ----- */
.competencies-table td p
{
  margin: 0 0 0 0;
}

.competency-name
{
  width:80px;
}

.competency-rating
{
  width:50px;
}

.competency-years
{
  width:30px;
  text-align: right;
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.competency-years-plus
{
  width:5px;
  text-align: left;
  border-left: none;
  padding-left: 1pt;
  margin-left: 0;
}

.competency-span
{
  width:60px;
  font-size: 100%;
}

.competency-keywords
{
  font-size: 9pt;
}

.competency-narrative /* applied to tr */
{
  font-size:9pt;
}

.competency-bullets {
  font-weight: bold;
  text-align: center;
  font-size: 8pt;
  padding: 0.25em 0.25rem 0.5rem 0.25rem;
}

.competency-bullets span {
  margin: 1px 2px 1px 4px;
}