/*-------------------------------------
           Reset Styles
--------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

/*-------------------------------------
           End Reset Styles
--------------------------------------*/

body {
	line-height: 1;
	color: black;
	background: white;
	background-image: url(body-bg.gif);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #e8e3D0;
	font-family: Georgia, serif;
}

.clear-fix:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 1px;
    clear: both;
}

.clear-fix {
	zoom: 1;
}

a,
a:link,
a:visited {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

/*-------------------------------------
         Used by multiple pages
--------------------------------------*/

.info-container {
	width: 100%;
	max-width: 600px;
	border: 1px solid #d8d5c6;
	padding: 4px;
	padding-right: 10px;
	margin: auto;
}

.inner-border {
	background-color: transparent;
	border: 1px solid #d8d5c6;
	padding: 10px 20px;
}

/*-------------------------------------
       End Used by multiple pages
--------------------------------------*/


/*-------------------------------------
          Budu CV Page Styles
--------------------------------------*/

.body-budu-cv {
	width: 100%;
	max-width: 1004;
	margin: 0 auto;
}

.body-budu-cv h1 {
	width: 100%;
	max-width: 1004;
	padding-top: 40%;
	background-image: url(cloud-ace-edited.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.body-budu-cv h1 span {
	display: none;
}



.cv-full strong,
.cv-full strong {
	font-weight: bold;
	color: #000;
}

.cv-summ {
	float: left;
	text-align: center;
	font-size: 14px;
	color: #6d6a5b;
	font-weight: normal;
	width: 40%;
	border-right: 1px solid #d9d6c5;
	padding-right: 4%;
}

.cv-full {
	float: inherit;
	text-align: center;	
	font-size: 14px;
	color: #6d6a5b;
	font-weight: normal;
	padding-left: 4%;
	padding-right: 2%
}

/*-------------------------------------
         End Budu CV Page Styles
--------------------------------------*/


.competency
{
    font-family: Tahoma;
    font-size: 10px; 
    line-height: normal; 
}

.competency table
{
    border-collapse: collapse;
}

.competency td
{
    height: 11px;
    border-style: solid; 
    border-width: 1.0px 1.0px 1.0px 1.0px; 
    border-color: #000000 #000000 #000000 #000000; 
    padding: 4.0px 4.0px 4.0px 4.0px;
}

.competency td p
{
    margin: 0.0px 0.0px 0.0px 0.0px;
    -webkit-font-kerning: none; 
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.competency-name
{
    width:53px;
}


.competency-rating
{
    width:51px;
    font-family: 'PingFang SC'; 
    font-size: 8px; 
}

.competency-years
{
    width:20px;
}

.competency-span
{
    width:53px;
}

.competency-sub
{
    width:300px;
}


